<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title></title>

		<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="static/css/main.css" />

		<script type="text/javascript" src="static/js/jq.js"></script>
		<script type="text/javascript" src="static/js/riffwave.js"></script>
		<script type="text/javascript" src="static/js/main.js"></script>
	</head>

	<body>
		<div id="wrapper">

			<div id="main">
				<a href="#" id="play">play</a>
			</div>
			
		</div>
	</body>
</html>